*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
:root{
     --primary :#FF42A5;
     --primary_FontWeight : 700px;
     --secondary_FontSize : 15px;
     --secondary_FontWeight : 500px;
     --secondary_FontColor:rgba(83, 76, 100, 1)
}


.main{
    width: 1920px;
    height:130px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
}
.title{
     display: flex;
     justify-content: center;
     align-items: center;
    
}
img{
    width: 86px;
    height: 40px; 
    padding-left: 240px;
    margin-right: 8px;
}
.game_title{
     color:var(--primary)
}
.navigation{
    display: flex;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
   list-style-type: none;
    margin-right: 40px;
    font-size: var(--secondary_FontSize);
    font-weight: var(--secondary_FontWeight);
    color: var(--secondary_FontColor);
   
}
.social_media{
     display: flex;
     width: 262px;
     height: 56px;
     border-radius: 8px;
      background: rgba(11, 2, 35, 0.10);
     margin-right: 240px;
     margin-top: 37px;
}
.social_media_title{
   margin: 17px 25px 18px 24px;  
}
.social_media_logo{
     margin: 16px 5px 16px 5px;
}
.youtube_logo{
    margin-right: 15px;
}

.signin{
    display: flex;
}

.sign_in_details{
      width: 901px;
      height: 700px;
      position:relative;
        
}
.sign_in_img{
    position:absolute;
}

.details{
    position: absolute;
    width: 400px;
    height:250px;
    top: 148px;
    margin-left: 240px;
   
    
}
.details>h1{
     font-weight: var(--primary_FontWeight);
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.main_feature{
    display: flex;
}
.icon{
     display: flex;
     flex-direction: column;
     margin-right: 15px;
}
.icon{
    margin-top: 10px;
}
.icon>svg{
    margin-bottom: 16px;
}
.p1{
     margin-top: 12px;
     margin-bottom: 25px;
}
.p2{
    margin-bottom: 20px;
}
.game_picture{
    width: 901px;
    height: 700px;  
}
.game_picture > img{
     width: 600px;
     height: 700px;
}
.gamer{
    width:1920px;
    height: 600px;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.gamer_img{
    width: 868px;
    height: 489px;
}
.gamer_container{
    margin-top: 95px;
    margin-right:240px;
    margin-bottom: 30px;
}
.gamer_title{
    text-align: right;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.gamer_des{
    text-align: right;
    margin-bottom: 15px;
    font-size: var(--secondary_FontSize);
    color: var(--secondary_FontColor);
}

.btn{
    width: 208px;
    height: 65px;
    border-radius: 48px;
    color: white;
    margin-left: 355px;
    margin-bottom: 10px;
    font-size: var(--secondary_FontSize);
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%))
}
.purpose{
    text-align: end;
    font-size: var(--secondary_FontSize);
    color: var(--secondary_FontColor);
    margin-bottom: 10px;
}
.dialogue{
    text-align: end;
}
.vedio_title{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 5px;
}
.funny{
    margin-top: 20px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}
.vedio_des{
    text-align: center;
    font-size: var(--secondary_FontSize);
    color: var(--secondary_FontColor);
    margin-bottom: 25px;
}
.vedio_container{
    display: flex;
     margin: 0px 240px;
}
.img1 ,.img2,.img3,.img4{
    width: 342px;
    height: 400px;
    margin-right: 25px;
    margin-left: 0px;
    padding-left: 0px;
}
.vedio_container>div>p{
    font-size: var(--secondary_FontSize);
    font-weight: var(--secondary_FontWeight);
    color: var(--secondary_FontColor);
    word-wrap: break-word;
}
.instantPlay_container{
    width: 1200px;
    height:700px;
    display: flex;
    margin-left: 439px;
   
}
.game_critariya{
    margin-top: 336px;
}
.instant{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}

.instantPlay_des{
    font-size: var(--secondary_FontSize);
    color: var(--secondary_FontColor);
    word-break: break-all
}
.hrs_pic{
    width: 634px;
    height: 650px;
    margin-top: 120px;
    position: relative;
}
.cat_pic{
    width: 318px;
    height: 365px;
    position: relative;
    top: -250px;
    right: 150px;
}
.gamePlay_container{
    width: 1300px;
    height:700px;
    display: flex;
    margin-top: 400px; 
    margin-left: 238px;
}
.gamePlay_img{
    margin-right: 230px;
}
.cherectar1_pic{
  width: 710px;
  height: 650px;
  margin-left:10px;
  padding-left: 10px;
  
}
.cherecter2_pic{
    width: 318px;
    height: 365px;
    position: relative;
    top: -315px;
    left: 300px;
    margin-right: 249px;
    
    
}
.gamePlay_critariya{
    margin-top: 270px; 
    width: 500px;
    height: 500px;
}
.play_games{
    word-wrap: none;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}
.online{
 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}
.playGames_des{
    font-size: var(--secondary_FontSize);
    color: var(--secondary_FontColor);
    word-break: break-all 
}
.careers_container{
    width: 1920px;
    height: 621px;
    margin-top: 120px;
   display: flex;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%)
}
.career_title{
     color: white;
     margin: 10px 14px 10px 249px;
     padding-top: 120px;
     font-size: 30px;
    
}
.career_des{
    margin: 10px 10px 10px 249px;
    color: white;
    font-size: var(--secondary_FontSize);
    font-weight: var(--secondary_FontWeight);
}
.artist{
    width:337px;
    height: 240px;
}
place{
    width: 246px;
    height: 240px;
}
.artist_palce_Container{
     display: flex;
     margin-left: 250px;
}
.artist>p{
    color: white;
    font-size: var(--secondary_FontSize);
    font-weight: var(--secondary_FontWeight);
    line-height: 35px
}
.place>p{
    color: white;
    font-weight: 400;
    line-height: 35px
}
.position{
    width: 275px;
    height: 65px;
    background-color: white;
    border-radius: 48px;
    margin-left: 248px;
}
.kids_img{
    width: 950px;
    height: 650px;
}
.games_container{
    margin-top: 100px;
}
.game_type1,.game_type2{
    display: flex;
    
}
.game_type1>div{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.game_type1:first-child{
    margin-left: 249px;
  
}
.game_type1>div>img{
    padding-left: 5px;
   
}
.types{
    word-wrap: none;
}
.div1{
    width: 283px;
    height: 83px;
    border: 1px solid white;
    box-shadow: 1px 0.5px 2px;
    border-radius: 48px;
    background: #FFF;
}
.div1:hover,.game_type2>div:hover{
    border:1px solid #F948B2;
    color:#F948B2; ;
}


.game_type2{
    margin-top: 30px;
    margin-left: 335px;
}
.game_type2>div{
    display: flex;
    width: 317px;
    height: 80px;
    align-items: center;
    box-shadow: 1px 0.5px 2px;;
    border-radius:48px;
    margin-right: 30px;
}
.game_type2>div>img{
    padding-left: 15px;
}
.footer{
    width: 1920px;
    height: 427px;
    background-color:#0B0223 ;
    margin-top: 50px;
}
.amer{
    color: white;
}
.footer_title{
    padding-top:120px;
}
ul{
    margin-top: 40px;
    margin-left: 300px;
}
ul li{
    padding: 15px;
    color: #FFF;
}
.media>img{
    width: 40px;
    height: 40px;
}
.media{
    margin-left: 861px;
    margin-top: 25px;
}
.media>i{
    margin-right: 50px;
}
.terms_condition{
    display: flex;
    margin-top: 40px;
    margin-left: 750px;
 
}
li{
    color: white;
    list-style: none;
    margin-right: 48px;
}
.copyRight{
    color: white;
    margin-top: 20px;
    margin-left: 950px;
    font-size: 12px;
    font-weight: 500px;
    
}
/* 
  Mobile responsive design
*/

@media only screen and (max-width:476px){
    .main{
        width: 360px;
        height: 200px;
        flex-direction: column;
        padding: 25px;
        
    }
    img{
         padding-left: 0px;
         margin-bottom: 15px;
         width: 76px;
         height: 35px;
    }
    ul{
        flex-direction: column;
        
    }
    .about{
         margin-bottom: 20px;
    }
    .navigation{
        flex-direction: column;
    }
    .social_media{
        margin-left: 30px;
    }
    .signin{
        flex-direction: column-reverse;
        border: 1px solid red;
        margin: 10px;
    }
    
    .game_picture{
        width: 350px;
        height: 400px;
        margin: 20px;
    }
    .game_picture>img{
        width: 350px;
        height: 350px; 
    }
    .sign_in_details{
        width: 350px;
        height: 400px;
        margin: 10px;
   
    }
    .details{
        width: 276px;
        height: 200px;
        top:80px;
        margin-left: 80px;
      
    }
    .svg{
        width: 355px;
        height: auto;
    }
}